.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricing-box {
    flex: 1 1 300px;
    padding: 20px;
    border: 1px solid #555;
    margin: 10px;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.pricing-header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.pricing-description {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.pricing-price {
    font-size: 24px;
    text-align: center;
}

.pricing-price-bold {
    font-weight: bold;
}

.pricing-features {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}

.pricing-features li {
    padding: 5px 0;
    font-size: 16px;
    list-style-type: none;
}

.pricing-button {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    background-color: #000;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pricing-button:hover {
    background-color: #0056b3;
}

.feature-header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.feature-label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-column {
    flex: 1 1 30%;
    padding: 10px;
    text-align: center;
}

.feature-description {
    font-size: 16px;
    text-align: right;
    margin-bottom: 5px;
}

.feature-check {
    font-size: 16px;
    color: green;
}

details > summary {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #007BFF;
    transition: background-color 0.3s ease;
}

details > summary:hover {
    background-color: #0056b3;
}

details > * {
    margin: 10px;
}

details[open] > summary {
    background-color: #0056b3;
    border-bottom: none;
}
